@import "tailwindcss";

@theme {
  /* #region Colors */
  --color-neutral-10: #ffffff;
  --color-neutral-20: #fafafa;
  --color-neutral-30: #ededed;
  --color-neutral-40: #e0e0e0;
  --color-neutral-50: #c2c2c2;
  --color-neutral-60: #9e9e9e;
  --color-neutral-70: #757575;
  --color-neutral-80: #616161;
  --color-neutral-90: #404040;
  --color-neutral-100: #1d1f20;

  --color-primary-main: #01959f;
  --color-primary-surface: #f3fbfc;
  --color-primary-border: #4db5bc;
  --color-primary-hover: #01777f;
  --color-primary-pressed: #01595f;
  --color-primary-focus: #01959f;

  --color-secondary-main: #fbc037;
  --color-secondary-surface: #fffcf5;
  --color-secondary-border: #feeabc;
  --color-secondary-hover: #f8a92f;
  --color-secondary-pressed: #fa9810;
  --color-secondary-focus: #fbc037;

  --color-danger-main: #e01428;
  --color-danger-surface: #fff9fa;
  --color-danger-border: #f5b1b7;
  --color-danger-hover: #bc1121;
  --color-danger-pressed: #700a14;
  --color-danger-focus: #e01428;

  --color-warning-main: #ca7336;
  --color-warning-surface: #fcf7f3;
  --color-warning-border: #feb17b;
  --color-warning-hover: #b1652f;
  --color-warning-pressed: #985628;
  --color-warning-focus: #ca7336;

  --color-success-main: #43936c;
  --color-success-surface: #f7f7f7;
  --color-success-border: #b8dbca;
  --color-success-hover: #367a59;
  --color-success-pressed: #20573d;
  --color-success-focus: #731912;
  /* #endregion */

  /* #region Typography*/
  --text-xs: 0.625rem;
  --text-xs--line-height: 1rem;
  --text-s: 0.75rem;
  --text-s--line-height: 1.25rem;
  --text-m: 0.875rem;
  --text-m--line-height: 1.5rem;
  --text-l: 1rem;
  --text-l--line-height: 1.75rem;
  --text-heading-s: 1.25rem;
  --text-heading-s--line-height: 2rem;
  --text-heading-m: 1.5rem;
  --text-heading-m--line-height: 2.25rem;
  --text-heading-l: 2rem;
  --text-heading-l--line-height: 2.75rem;
  --text-display: 3rem;
  --text-display--line-height: 4rem;
  /* #endregion */

  /* #region Shadow */
  --inset-shadow-input: 1px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-button: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  --shadow-modal: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  /* #endregion */
}

@theme {
  --animation-spin: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0);
}

.dangerously-set-inner-html ul,
.dangerously-set-inner-html ol {
  padding-left: 20px;
}

.dangerously-set-inner-html ul {
  list-style-type: disc;
}

.dangerously-set-inner-html ol {
  list-style-type: decimal;
}
